@reference './main.css';

@layer components {
  .btn {
    @apply inline-flex 
        items-center 
        justify-center 
        rounded-2xl 
        font-display
        text-lg 
        font-medium 
        transition-colors 
        focus-visible:outline-none 
        focus-visible:ring-2 
        focus-visible:ring-ring 
        focus-visible:ring-offset-2 
        disabled:pointer-events-none 
        disabled:opacity-50
        bg-yellow 
        text-black  
        uppercase 
        leading-none 
        py-4 
        px-6 
        bg-gradient-to-r 
        from-yellow 
        to-orange 
        from-50%;
    background-size: 200% 100%;
    background-position: 0 0;
    transition: background-position 0.3s ease-in-out;
    box-shadow:
      inset 0 -6px 1px --alpha(var(--color-orange) / 50%),
      inset 0 6px 1px --alpha(var(--color-white) / 50%);

    &:hover {
      background-position: 100% 0;
    }
    &.btn-ghost {
      @apply text-transparent bg-clip-text relative;
      box-shadow: none;
      &::before {
        @apply absolute inset-0 border-2 border-solid border-transparent rounded-2xl;

        background: linear-gradient(
            to right,
            var(--color-yellow) 50%,
            var(--color-orange)
          )
          border-box;
        background-size: 200% 100%;
        background-position: 0 0;
        transition: background-position 0.3s ease-in-out;
        mask:
          linear-gradient(white, white) content-box,
          linear-gradient(black, black) border-box;
        mask-composite: exclude;
        content: "";
        z-index: -1;
      }
      &::after {
        @apply absolute inset-0 rounded-2xl bg-background/50;
        transition: opacity 0.3s ease-in-out;
        opacity: 0.5;
        content: "";
        z-index: -1;
      }
      &:hover {
        &::before {
          background-position: 100% 0;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  .card {
    @apply p-6 bg-neutral-800 rounded-2xl shadow-md hover:shadow-lg transition-shadow bg-gradient-to-br from-neutral-700 to-neutral-900;
  }
}
