@reference './main.css';

@layer components {
  .kicker {
    @apply font-display font-medium text-orange uppercase tracking-widest drop-shadow-sm drop-shadow-brown-950/70;
    &::before {
      content: "/ ";
    }
  }
  .section-title {
    @apply text-xl font-bold md:text-[2.5rem] text-foreground leading-tight drop-shadow-lg text-shadow-brown-950/50;
    .highlight & {
      @apply text-2xl md:text-[4rem];
    }
  }
  .page-title {
    --text-stroke: clamp(1px, 0.02em, 2px);
    @apply text-7xl font-bold sm:text-8xl/none uppercase text-transparent text-shadow-lg text-shadow-brown-950/10 leading-none;

    -webkit-text-stroke: var(--text-stroke) white;
    &::first-line {
      color: var(--color-foreground);
    }
  }
  .gradient-text-outline {
    --text-stroke: clamp(1px, 0.03em, 4px);
    background: linear-gradient(
      to right,
      var(--color-yellow),
      var(--color-orange)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: var(--text-stroke) transparent;
  }
  .prose-legal {
    max-width: 80ch;
    text-align: justify;
  }
}
